%section.showcase-section#showcase-profcast
  .space-90
  .container
    .row.align-items-center
      .col-md-12
        = link_to image_tag(asset_pack_path('humbledaisy_website/images/projects/ProfCast_Masthead.png'), alt: 'ProfCast Lecture Capture Masthead', class: 'img-fluid center-img'), 'http://www.profcast.com', target: '_blank'
      .col-md-5.margin-b-30
        %h3
          ProfCast - Lecture Capture
        %p
          ProfCast is a versatile, powerful, yet very simple to use tool for recording lectures including PowerPoint and/or Keynote slides for creating enhanced podcasts. ProfCast provides a low cost solution for recording and distributing lectures, special events, and presentations as podcasts.

        %p
          ProfCast offers an integrated workflow that makes creating, recording, and publishing podcasts easy. It's as simple as Launch, Load, and Lecture!
        .row
          .col-md-6
            = link_to('Learn More', 'http://www.profcast.com', target: '_blank', class: ' btn btn-lg btn-primary btn-rounded')
      .col-md-6.offset-md-1.margin-b-30

        = link_to image_tag(asset_pack_path('humbledaisy_website/images/projects/ProfCast_Flow.png'), alt: 'ProfCast Lecture Capture', class: 'img-fluid center-img'), 'http://www.profcast.com', target: '_blank'
    .space-60
/ end showcase section
